<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/framework/meta.ejs %>
</head>
<body>
    <h1> <%= pageTitle %></h1>

    The contet is saved under partials folder.
    <% include partials/artwork.ejs %>  


    <img src='/imgs/Hillary_Goldwynn.jpg' alt="" width="100px">
</body>
</html>